body{
background-color:#d9d9d9;
margin:0;
overflow:hidden;
}
#orbitor1{
  border:white 2px solid;
  background-color: red;
  width:3%;
  height:3%;
  position: absolute;
  animation: revolverotator1 linear infinite 5s;
}

@keyframes revolverotator1 {
  0% {
 left:0%; /* Start at the center of the page */
}

25%{
  top:0;
  left:97%;
}

50%{
  top:97%;
  left:97%;
}

75%{
  top:97%;
  left:0%;
}
100% {
left:0%;
 top:0%; /* Rotate 360 degrees */
}
}



#rotator1{
width: 200px;
height: 200px;
border-radius:100%;
border:black 4px dashed;
display: grid;
align-items: center;
justify-content: center;
animation: rotateAnimation 8s infinite linear;
}

@keyframes rotateAnimation {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
